<li>
    <p>
        <%= comment.content %> by <%= comment.user.name %>
        <% if(locals.user && locals.user.id==comment.user.id){ %>
            <small></small>
                <a href="/comments/destroy/<%= comment.id %>">X</a>
            </small>
        <% } %>      
    </p>
</li>